/* 设置 body 和 html 元素的样式，移除默认边距和内边距，设置宽度和高度为100%，隐藏溢出内容，背景颜色为深灰色 */
body, html {
    margin: 0; /* 移除默认的边距 */
    padding: 0; /* 移除默认的内边距 */
    width: 100%; /* 设置宽度为100% */
    height: 100%; /* 设置高度为100% */
    overflow-y: auto; /* 允许垂直滚动 */
    background: #30333F; /* 设置背景颜色为深灰色 */
    color: #E0E0E0; /* 设置全局字体颜色为浅灰色 */
}

/* 设置 canvas 元素的样式，使其固定定位，覆盖整个窗口 */
canvas {
    position: fixed; /* 固定定位，脱离文档流 */
    top: 0; /* 距离顶部为0 */
    left: 0; /* 距离左侧为0 */
    width: 100%; /* 宽度为100% */
    height: 100%; /* 高度为100% */
}

/* 设置全局字体、背景颜色、边距和填充 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* 设置容器的宽度和居中对齐 */
.container {
    width: 80%;
    margin: 0 auto;
}

/* 居中文本 */
.text-center {
    text-align: center;
}

/* 标题样式 */
.welcome-title {
    font-size: 2.5em;
    margin: 20px 0;
    color: #FFFFFF; /* 设置标题字体颜色为白色 */
}

/* 项目标题样式 */
.projects-header h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #F0F0F0; /* 设置项目标题字体颜色为淡白色 */
}

/* 正文内容样式 */
.projects-header p {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #E0E0E0; /* 设置正文内容字体颜色为浅灰色 */
}

/* 动画基础样式 */
.animated {
    animation-duration: 2s; /* 动画持续时间 */
    animation-fill-mode: both; /* 保持动画结束状态 */
}

.delay-1s {
    animation-delay: 1s; /* 延迟1秒开始动画 */
}

.delay-2s {
    animation-delay: 2s; /* 延迟2秒开始动画 */
}

/* 定义从屏幕左侧淡入的动画 */
@keyframes fadeInFromLeft {
    from {
        opacity: 0; /* 初始透明度 */
        transform: translateX(-100%); /* 初始位置在屏幕左侧外 */
    }
    to {
        opacity: 1; /* 结束透明度 */
        transform: translateX(0); /* 结束位置 */
    }
}

/* 定义从屏幕右侧淡入的动画 */
@keyframes fadeInFromRight {
    from {
        opacity: 0; /* 初始透明度 */
        transform: translateX(100%); /* 初始位置在屏幕右侧外 */
    }
    to {
        opacity: 1; /* 结束透明度 */
        transform: translateX(0); /* 结束位置 */
    }
}

/* 应用从左侧淡入屏幕的动画 */
.fadeInFromLeft {
    animation-name: fadeInFromLeft;
    animation-duration: 1s; /* 动画持续时间 */
    animation-timing-function: ease-out; /* 动画速度曲线 */
    animation-fill-mode: both; /* 保持动画结束状态 */
}

/* 应用从右侧淡入屏幕的动画 */
.fadeInFromRight {
    animation-name: fadeInFromRight;
    animation-duration: 1s; /* 动画持续时间 */
    animation-timing-function: ease-out; /* 动画速度曲线 */
    animation-fill-mode: both; /* 保持动画结束状态 */
}

/* 导航按钮样式 */
.navigation-buttons {
    text-align: center;
    margin-top: 20px;
    position: relative; /* 确保按钮相对定位 */
    z-index: 1; /* 提高z-index值，使其在动态背景之上 */
}

.navigation-buttons button {
    background-color: #46494f;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.navigation-buttons button:hover {
    background-color: #36383d;
}

/* 设置 h2 和 h3 元素的基本样式 */
h2, h3 {
    font-size: 1.8em; /* 设置字体大小 */
    margin: 10px 0; /* 设置上下边距 */
    color: #FFFFFF; /* 设置字体颜色为白色 */
    text-align: center; /* 设置文本居中对齐 */
}

/* 调整文本的上下间距 */
h3 + h3 {
    margin-top: 20px; /* 设置相邻 h3 元素之间的上边距 */
}

/* 返回首页按钮样式 */
.back-to-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.back-to-home button {
    background-color: #46494f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.back-to-home button:hover {
    background-color: #36383d;
}



/* 设置导航按钮容器的样式，使其内容居中对齐 */
.navigation-buttons {
    text-align: center; /* 水平居中对齐 */
    margin-top: 20px; /* 设置顶部边距 */
    position: relative; /* 确保按钮相对定位 */
    z-index: 1; /* 提高z-index值，使其在动态背景之上 */
}

/* 设置按钮的基本样式 */
.navigation-buttons button {
    background-color: #46494f; /* 设置背景颜色 */
    color: white; /* 设置字体颜色 */
    border: none; /* 移除边框 */
    padding: 10px 20px; /* 设置内边距 */
    margin: 0 10px; /* 设置左右外边距 */
    cursor: pointer; /* 鼠标悬停时显示为指针 */
}

/* 设置按钮悬停时的背景颜色 */
.navigation-buttons button:hover {
    background-color: #36383d; /* 悬停时的背景颜色 */
}

/* 设置图标容器的样式，使其看起来像按钮 */
.nav-icon {
    display: inline-block; /* 内联块级元素 */
    padding: 10px; /* 设置内边距 */
    margin: 0 10px; /* 设置左右外边距 */
    cursor: pointer; /* 鼠标悬停时显示为指针 */
    width: 50px; /* 设置宽度 */
    height: 50px; /* 设置高度 */
    text-align: center; /* 内容居中对齐 */
    vertical-align: middle; /* 垂直对齐 */
    margin-top: 20px; /* 设置距离顶部的边距 */
}

/* 设置图标的样式 */
.nav-icon .icon {
    width: 32px; /* 设置图标的宽度 */
    height: 32px; /* 设置图标的高度 */
    cursor: pointer; /* 鼠标悬停时显示为指针 */
}


/* 目录容器的基本样式 */
.sidebar {
    position: fixed;
    top: 0;
    left: -260px; /* 隐藏在屏幕左侧 */
    width: 250px;
    height: 100%;
    background-color: transparent; /* 全透明背景 */
    overflow-x: hidden;
    transition: left 0.5s; /* 平滑过渡效果 */
    z-index: 2; /* 确保目录在其他内容之上 */
    border-right: 2px solid rgba(255, 255, 255, 0.5); /* 添加右边框 */
    box-shadow: 2px 0 5px rgba(0,0,0,0.5); /* 添加阴影效果 */
}

/* 目录内容的样式 */
.sidebar-content {
    padding: 20px;
    color: white;
}

/* 目录列表项的样式 */
.sidebar-content ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-content ul li {
    margin: 10px 0;
}

/* 标题链接的样式及悬停效果 */
.sidebar-content ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 8px; /* 设置圆角 */
    transition: color 0.3s, background-color 0.3s, transform 0.3s ease-in-out, box-shadow 0.3s; /* 平滑过渡效果 */
}

.sidebar-content ul li a:hover {
    color: #f0f0f0; /* 悬停时的字体颜色 */
    background-color: rgba(255, 255, 255, 0.1); /* 悬停时的背景颜色 */
    transform: scale(1.1); /* 悬停时放大效果 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 添加阴影效果 */
}


/* 目录提示按钮的样式 */
.sidebar-toggle {
    position: fixed;
    top: 20px;
    left: 0;
    padding: 10px 20px;
    background-color: #46494f;
    color: white;
    cursor: pointer;
    z-index: 3; /* 确保按钮在其他内容之上 */
    transition: left 0.5s; /* 平滑过渡效果 */
    border-radius: 0 5px 5px 0; /* 圆角效果 */
    box-shadow: 2px 0 5px rgba(0,0,0,0.5); /* 添加阴影效果 */
}

/* 返回首页按钮样式 */
.back-to-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.back-to-home button {
    background-color: #46494f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.back-to-home button:hover {
    background-color: #36383d;
}


