.me404 {
    width: 1000px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -240px;
    }
    .st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #E8EBED;
    }
    .st1 {
    fill: #FFFFFF;
    stroke: #89949B;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    }
    .st2 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #DBDFE1;
    }
    .st3 {
    fill: #FFFFFF;
    }
    .st4 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #E8EBED;
    stroke: #89949B;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    }
    .st5 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FFFFFF;
    stroke: #89949B;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    }
    .st6 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: none;
    stroke: #89949B;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    }

    
/* 返回首页按钮的样式 */
.return-home-button {
    position: fixed; /* 固定定位，脱离文档流 */
    bottom: 20px; /* 距离底部20像素 */
    right: 20px; /* 距离右侧20像素 */
    padding: 10px 20px; /* 内边距，上下10像素，左右20像素 */
    background-color: #4CAF50; /* 按钮背景颜色 */
    color: white; /* 按钮文字颜色 */
    border: none; /* 无边框 */
    border-radius: 5px; /* 边角圆润 */
    cursor: pointer; /* 鼠标悬停时显示手型 */
    font-size: 16px; /* 字体大小 */
}
.return-home-button:hover {
    background-color: #45a049; /* 鼠标悬停时按钮背景颜色 */
}

.prompt {
    display: none; /* 隐藏提示框 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
    text-align: center;
  }
  
  .prompt p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .prompt small {
    display: block;
    margin-bottom: 20px;
    color: #666;
  }
  
  .prompt button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .prompt button:hover {
    background-color: #0056b3;
  }
  